:root {
  --body-bg: rgb(0, 0, 60);
  --gap: 0.5rem;
  --grid-gap: var(--gap);
  --wrapper-width: 60rem;
  --app-width: var(--wrapper-width);
}

.wrapper {
  --bg: #32054e;
  --fg: rgb(230, 233, 176);
  --bd: var(--fg);
}

.app-base {
  --bg: #0f0f0f;
  --fg: lightskyblue;
  --bd: rgb(80, 80, 80);
  --bg-input: #264653;
  --fg-input: lightgray;
}

.htop {
  --fg-header: rgb(101, 255, 229);
  --bg-odd: #264653;
  --fg-odd: rgb(206, 236, 252);
  --bg-even: #532626;
  --fg-even: rgb(245, 222, 222);
  --bg-bar: rgba(107, 239, 217, 0.8);
  --bd: rgb(134, 134, 134);
  --bd-sep: rgba(101, 255, 229, 0.8);
}

.chat {
  --fg-send-button: rgb(173, 255, 43);
  --fg-send-enabled: rgb(248, 255, 43);
  --fg-sent: rgb(87, 179, 87);
  --fg-received: rgb(229, 229, 113);
  --bd-auto-scroller: rgb(134, 134, 134);
}

body {
  background: var(--body-bg);
}

h1, h2, h3 {
  margin-block: 0.5rem;
  font-weight: inherit;
}

h3 {
  margin-inline: auto;
}

.wrapper {
  background-color: var(--bg);
  color: var(--fg);
  max-width: var(--wrapper-width);
  margin-inline: auto;
  padding-top: 0.5rem;
}

.wrapper-controls {
  padding: 0.5rem;
  width: 100%;
  margin-inline: auto;
}

.wrapper-controls button {
  background-color: inherit;
  color: inherit;
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: large;
  border-radius: 4px;
  border: 1px solid var(--bd);
  opacity: 70%;
}

.wrapper-controls button:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

.wrapper .warning {
  text-align: center;
  font-size: xx-large;
}

.link-button {
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: x-large;
  color: inherit;
  opacity: 70%;
  text-decoration: none;
  border: 1px solid var(--fg);
  border-radius: 4px;
}

.link-button:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

.app-base {
  background: var(--bg);

  width: var(--app-width);
  margin-inline: auto;
  color: var(--fg);
}

.app-container {
  height: 42rem;

  margin: 0.5rem;
  padding: 0.25rem;
}

.chat {
  max-height: 100%;
  overflow-y: auto;

  padding: var(--gap);

  border: 1px solid var(--bd);
}

.chat .editing {
  font-style: italic;
}

.chat div input {
  background-color: var(--bg-input);
  color: var(--fg-input);
  border: 1px solid var(--bd);
}

.chat-send {
  background-color: inherit;
  color: var(--fg-send-enabled);
  border: 1px solid var(--fg-send-button);
  opacity: 50%;
  border-radius: 4px;
}

.chat-send:disabled {
  opacity: 20%;
}

.chat-send:hover:not(:disabled) {
  cursor: pointer;
  opacity: 90%;
  transition: opacity 0.1s;
}

.message-log {
  max-height: 100%;
  overflow-y: auto;

  padding: 0.25rem;

  border: 1px solid var(--bd);
}

/* Auto scrolling of message log messages via 'overflow-anchor'  */

.message-log * {
  overflow-anchor: none;
}

.message-log>.last-message-anchor {
  overflow-anchor: auto;
}

.message-log>.last-message-anchor::after {
  display: grid;
  content: "â";
  justify-content: end;
}

.message-log p {
  background-color: #264653;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 60%;
}

.message-sent {
  color: var(--fg-sent);
  justify-self: start;
}

.message-sent>span:first-of-type {
  display: none;
}

.message-received {
  color: var(--fg-received);
  justify-self: end;
}

.htop {
  max-height: 100%;
  overflow-y: auto;

  padding: var(--gap);

  border: 1px solid var(--bd);
}

.htop-header {
  display: inline-flex;
  margin-inline: auto;
  margin-block: 0;
  height: 2.5rem;
  margin-bottom: calc(-0.5*var(--grid-gap));
  color: var(--fg-header);
}

.htop-header span {
  margin-block: 0;
  width: 10rem;
  background-color: rgb(58, 58, 58);
  border-bottom: calc(0.5*var(--grid-gap)) solid var(--bd-sep);
}

.htop-header>span:first-of-type {
  overflow: hidden;
  padding-left: 0.5rem;
  border-top-left-radius: 5px;
}

.htop-header>span:last-of-type {
  overflow: hidden;
  padding-right: 0.5rem;
  border-top-right-radius: 5px;
}


.cpu-info {
  font-weight: bold;
  background: var(--bg-odd);
  color: var(--fg-odd);

  border: 1px solid var(--bd);
  border-radius: 4px;

  height: 2rem;
  padding-left: 0.5rem;
}

.cpu-info:nth-child(even) {
  background: var(--bg-even);
  color: var(--fg-even);
}

.cpu-num {
  width: 1rem;
  text-align: center;
}

.bar {
  width: 100%;
  height: 100%;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar-inner {
  z-index: 5;
  background: var(--bg-bar);
  position: absolute;
  left: 0;
  height: calc(66% - 4px);
  top: calc(33% + 1px);
  opacity: 80%;
}

.bar-inner {
  border-radius: 4px;
}

.bar-inner.delayed {
  transition: width 0.5s ease-in-out;
  opacity: 30%;
  height: calc(33% - 4px);
  top: 3px;
}