:root {
  --bg: #0f0f0f;
  --fg: lightskyblue;
  --bd: rgb(80, 80, 80);
  --bg-input: #264653;
  --fg-input: lightgray;
  --grid-gap: 0.5rem;
}

.htop {
  --bg-odd: #264653;
  --fg-odd: rgb(191, 227, 245);
  --bg-even: #532626;
  --fg-even: rgb(232, 196, 196);
  --bg-bar: rgba(101, 255, 229, 0.6);
  --bd: rgb(134, 134, 134);
}

.grid-1col {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: var(--grid-gap);
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: var(--grid-gap);
}

.grid-2col-a-1fr {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--grid-gap);
}

.grid-2col-5em-1fr {
  display: grid;
  grid-template-columns: 5em 1fr;
  gap: var(--grid-gap);
}

.grid-4row-3a-1fr {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: var(--grid-gap);
}

.nogap {
  gap: 0;
}

.place-center {
  display: grid;
  place-items: center;
}

body {
  background: var(--bg);
}

main {
  width: 60rem;
  margin-inline: auto;
  color: var(--fg);
}

h1, h2, h3 {
  margin-block: 0.5rem;
}

h3 {
  text-align: center;
}

a {
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: x-large;
  color: inherit;
  opacity: 50%;
  text-decoration: none;
  border: 1px solid var(--fg);
  border-radius: 4px;
}

a:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

.app-container {
  margin: 0.5rem;
  padding: 0.25rem;

  border: 2px dotted yellow;
}

.chat {
  padding: 1rem;

  border: 2px dotted orange;
}

.chat div input {
  background-color: var(--bg-input);
  color: var(--fg-input);
  border: 1px solid var(--bd);
}

.chat-send {
  width: 100%;
  background-color: inherit;
  color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 4px;
  opacity: 50%;
}

.chat-send:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

.chat .message-log {
  max-height: 40rem;
  overflow-y: scroll;

  border: 2px dotted orangered;
}

.htop {
  padding: 1rem;

  border: 2px dotted greenyellow;
}

.cpu-info {
  background: var(--bg-odd);
  color: var(--fg-odd);

  border: 1px solid var(--bd);
  border-radius: 4px;

  height: 2rem;
  padding-left: 0.5rem;
}

.cpu-info:nth-child(even) {
  background: var(--bg-even);
  color: var(--fg-even);
}

.cpu-num {
  width: 1rem;
  text-align: center;
}

.bar {
  width: 100%;
  height: 100%;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar-inner {
  z-index: 5;

  height: calc(100% - 4px);

  background: var(--bg-bar);
  position: absolute;
  left: 0;
  top: 2px;

  transition: width 0.1s ease-in-out;
}

.bar-inner {
  border-radius: 4px;
}