:root {
  --bg: #0f0f0f;
  --fg: lightskyblue;
  --bd: rgb(80, 80, 80);
  --bg-input: #264653;
  --fg-input: lightgray;
}

.htop {
  --bg-odd: #264653;
  --fg-odd: rgb(191, 227, 245);
  --bg-even: #532626;
  --fg-even: rgb(232, 196, 196);
  --bg-bar: rgba(101, 255, 229, 0.6);
  --bd: rgb(134, 134, 134);
}

body {
  background: var(--bg);
}

main {
  width: 60rem;
  margin-inline: auto;
  color: var(--fg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1, h2, h3 {
  margin-block: 0.5rem;
}

h3 {
  text-align: center;
}

a {
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: x-large;
  color: inherit;
  opacity: 50%;
  text-decoration: none;
  border: 1px solid var(--fg);
  border-radius: 4px;
}

a:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

section.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.25rem;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.chat div {
  display: grid;
  grid-template-columns: 5em 1fr;
}

.chat div input {
  background-color: var(--bg-input);
  color: var(--fg-input);
  border: 1px solid var(--bd);
}

.chat div button {
  grid-column: 1 / -1;
  background-color: inherit;
  color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 4px;
  opacity: 50%;
}

.chat div button:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s;
}

.htop {
  width: 80%;
  margin-inline: auto;
}

.cpu-info {
  background: var(--bg-odd);
  color: var(--fg-odd);

  border: 1px solid var(--bd);
  border-radius: 4px;

  height: 2rem;
  padding-left: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cpu-info:nth-child(even) {
  background: var(--bg-even);
  color: var(--fg-even);
}

.cpu-num {
  width: 1rem;
  text-align: center;
}

.bar {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar-inner {
  z-index: 5;

  height: 100%;

  background: var(--bg-bar);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  transition: width 0.1s ease-in-out;
}

.bar-inner {
  border-radius: 4px;
}